/arduino/target
/arduino/Cargo.lock

/controller/.import
/controller/**/*.import
/controller/export_presets.cfg
/controller/android
/controller/.gdignore/gdnative/.sconsign.dblite
/controller/.gdignore/gdnative/src/*.os
/controller/.gdignore/export
/controller/lib/x11/*
